html {
    background-color: #000;
}
body {
    width: 540px;
    background-color: #000;
    color: #fff;
    margin: 30px auto;
    box-sizing: border-box;
}
.top-container {
    background-color: #1f1f1f;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}