html {
    background-color: #000;
}
body {
    width: 540px;
    background-color: #000;
    color: #fff;
    margin: 30px auto;
    box-sizing: border-box;
}
* {
    margin: 0;
}
.top-container {
    background-color: #1f1f1f;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.uacademy-top-icon {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.svg {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 10px;
}
path {
    vertical-align: middle;
}
.top-header {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}
.pencil {
    width: 30px;
    fill: currentColor;
}
p {
    margin-top:-10px;
    color: grey;
    font-size: 20px;
}
.svg-1 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 20px;
}
.options {
    height: 30px;
    fill: currentColor;
}
.svg-2 {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}
.add-members {
    background-color: #1f1f1f;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 10px;
    display: flex;
}
.add {
    width: 35px;
    fill:dodgerblue;
}
.add-members-text {
    color: dodgerblue;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 23px;
}
.navigation {
    background-color: #1f1f1f;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
li {
    display: inline;
    font-size: 20px;
    padding: 22px;
}
.members {
    color: dodgerblue;
    border-bottom: 3px solid dodgerblue;
}
.profiles {
    background-color: #1f1f1f;
    padding: 10px;
    display: flex;
}